   @media only screen and (max-width: 480px) {
    .button{
        font-size:17px;
        margin:10px;
        max-width: 100%;
        padding-right:0%;
    }

    *{
        margin: 0px; box-sizing: border-box; margin-right: 10px; margin-left: 10px;
    } 
    .photos{
        margin-right: 0px;
        margin-left:0px;
    }
    h1{
        color:white;
        font-size: 45px;
        font-family: codec;
        text-align: center;
        margin-top:10px;
    }
    .button span{
        left:3%;
    }
    img{
        margin-left:auto;
        margin-right:auto;
    }
    .icons{
        margin-left:1px;
    }
    
  }
  @media only screen and (max-width: 430px) {
    .text{
        font-size:10px;
    }
}

  @media only screen and (max-width: 374px) {
    .button{
        width:300px;
        font-size:15px;
        max-width: 100%;
    }
    .button span{
        left:-1%;
    }
    img{
        margin-left:auto;
        margin-right:auto;
    }
  }
  .photos{
    margin-right: 0px;
    margin-left:0px;
}
  @media only screen and (max-width: 324px) {
    .button{
        width:250px;
        font-size:13px;
        max-width: 100%;
        padding-left:-2%;
    }
    .button span{
        left:-4%;
    }
    img{
        margin-left:auto;
        margin-right:auto;
    }
  }
  .photos{
    margin-right: 0px;
    margin-left:0px;
}
  @media only screen and (max-width: 270px){
    h1{
        font-size:37px;
    }
    .button{
    width:230px;
    font-size:11px;
    }
    .button span{
        left:-5%;
    }
    img{
        margin:5px;
        margin-left:auto;
        margin-right:auto;
    }
    .photos{
        margin-right: 0px;
        margin-left:0px;
    }
  }
